* {

margin: 0;
padding: 0;

}

body {

 height: 100vh;
 background-color: rgba(119, 201, 255, 0.555);
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
 margin: 0;
 color: black;
 
}

.cabecalho {

padding: 2% 0% 3% 37%;

}