* {

    margin: 0;
    padding: 0;
    
    }
    
    body {
    
     height: 100vh;
     background-color: rgba(252, 206, 107, 0.703);
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     margin: 0;
     color: black;
     
    }
    
    .cabecalho {
    
    padding: 2% 0% 0% 10%;
    
    }

    .cabecalho-menu{

        display:flex;
        gap: 170px;
        
        }
        
        .cabecalho-menu-links{
        
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 28px;
        font-weight: 600;
        color: rgb(0, 0, 0);
        text-decoration: none;
        
        }
        
        .titulo-destaque {
        
        color:rgb(0, 0, 0);
        
        }
        
        .conteudo {
        
        height: auto;
        flex-direction: column;
        margin: 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        
        }
        
        .apresentacao-conteudo {
        
        width: 615px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;
        gap: 30px;
        order: 2;   
        }

.apresentacao-conteudo-titulo {

font-size: 38px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: justify;

}

.apresentacao-conteudo-paragrafo {

font-size: 20px;
font-family: 'Times New Roman', Times, serif;
text-align: justify;
     
}

.botao1 {

    background-color: black;
    color: rgba(255, 168, 37, 0.715);
    width: 500px;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 50px;
    font-size: 36px;
    padding: 15px 0;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;

}

.botao1::before {

content: "";
position: absolute;
top: 0;
left: -100%;
width: 100%;
height: 100%;
background: linear-gradient(45deg, transparent, rgba(255, 182, 47, 0.865));
transition: 0.5s;

}

.botao1:hover::before {
    left:100%;

}

.botao1 i {

position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
font-size: 60px;

}
/* fim do botao1 */

.botao2 {

    background-color: black;
    color: #0077b5;
    width: 500px;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 50px;
    font-size: 36px;
    padding: 15px 0;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;

}

.botao2::before {

content: "";
position: absolute;
top: 0;
left: -100%;
width: 100%;
height: 100%;
background: linear-gradient(45deg, transparent, #0077b5);
transition: 0.5s;

}

.botao2:hover::before {
    left:100%;

}

.botao2 i {

position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
font-size: 60px;

}

/* fim do botao2 */

.botao3 {

    background-color: black;
    color: white;
    width: 500px;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 50px;
    font-size: 36px;
    padding: 15px 0;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;

}

.botao3::before {

content: "";
position: absolute;
top: 0;
left: -100%;
width: 100%;
height: 100%;
background: linear-gradient(45deg, transparent, white);
transition: 0.5s;

}

.botao3:hover::before {
    left:100%;

}

.botao3 i {

position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
font-size: 60px;

}

/* fim do botao3 */

.botao4 {

    background-color: black;
    color: rgb(33, 198, 33);
    width: 500px;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 50px;
    font-size: 36px;
    padding: 15px 0;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;

}

.botao4::before {

content: "";
position: absolute;
top: 0;
left: -100%;
width: 100%;
height: 100%;
background: linear-gradient(45deg, transparent, rgb(33, 198, 33));
transition: 0.5s;

}

.botao4:hover::before {
    left:100%;

}

.botao4 i {

position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
font-size: 60px;
margin-bottom: 10px;

}

/* fim do botao4 */

.imagem {

max-width: 100%;
width: 680px;
height: 700px;
text-align: center;
align-items: center;
border-radius: 10px;
box-shadow: 0px 0px 20px rgb(101, 15, 15);
transition: transform 0.3s ease-in-out;
position: relative;
overflow: hidden;
order: 1;
margin-bottom: 80px;

}

.imagem img {

object-fit: cover;
display: block;
width: 100%;
height: 100%;

}

.imagem::before,
.imagem::after {

content: "";
position: absolute;
width: 10px;
height: 10px;
border: 2px solid black;
background-color: transparent;

}

.imagem::before{

bottom: 0;
right: 0;
border-bottom-right-radius: 10px;
border-width: 2px 0 0 2px;

}

.imagem::after {

bottom: 0;
right: 0;
border-bottom-right-radius: 10px;
border-width: 0 2px 2px 0;

}

.imagem:hover {

transform: scale(1.1);

}

.rodape {

position: fixed;
bottom: 0;
left: 0;
width: 100%;
color: rgb(255, 255, 255);
background-color: rgba(254, 117, 5, 0.091);
display: flex;
align-items: center;
justify-content: center;
text-align: center;
font-family: 'Times New Roman', Times, serif;
font-size: 18px;
font-weight: 400;
padding: 10px;

}

.rodape a:hover {

color: rgb(139, 105, 11);

}